/*  GENERAL */

* {
  box-sizing: border-box;
}

body {
  color: #1A1A1A;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.description {
  font-size: 0.875em;
  font-weight: 300;
  margin-top: 0;
}

.name {
  font-size: 1.125em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */

.header-b {
  background: #1A1A1A;
}

.logo-b {
  filter: invert();
  padding: 0.625em;
  width: 50%;
  max-width: 200px;
}

/* NAV */

nav {
  padding: 2.5em 1.5em 1em 1.5em;
}

nav a {
  color: #1A1A1A;
  font-weight: 500;
}

/* MAIN */

.card {
  background-image: linear-gradient(to bottom, white, white);
  background-origin: border-box;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  padding: 1em 1.5em 0 1.5em;
}

.data {
  padding: 0.25em 1.5em 1.5em 1.5em;
}

main {
  background-image: url("../img/background.svg");
  background-repeat: repeat;
}

.photography img {
  width: 80%;
  max-width: 300px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
  width: 50%;
  max-width: 200px;
}

.social img {
  width: 100%;
  max-width: 60px;
  padding: 0 0.5em 0 0.5em;
}

.description ul {
  list-style-type: none;
  padding-left: 1em;
}

.description ul li:before {
  content: '\2014';
  margin-left: -1em;
  position: absolute;
}

/* FOOTER */

footer{
  align-items: center;
  background: #1A1A1A;
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  padding: 2em;
  text-align:center;
}

footer img{
  padding-bottom: 1.25em;
  width: 60%;
}

.thanks {
  width: 80%;
}

.attributions {
  font-size: 0.625em;
}

/* MEDIA QUERIES */

@media all and (min-width:768px){
  body {
  font-size: 1.125em;
  }
}

@media all and (min-width:920px){
  body {
  font-size: 1.125em;
  }
}

@media all and (min-width:1024px){
  body {
  font-size: 1.125em;
  }
}
