body{
font-family: 'Roboto Mono', monospace;
font-size: 16px;
color:#1A1A1A;
margin: 0;
}

.cabecera{
  text-align: center;
  padding: 50px;
}

section{

  background-image: url("background.svg");
  background-repeat: repeat;


}

.team {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.section-title {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 500;

}
.Diana {

  text-align: center;
  margin-top: auto;
  margin-bottom: 70px;

}
 section img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 30px solid white;

}
.member-name {
  margin-bottom: 8px;
  font-weight: 500;
}
.member-rol{
  margin-top:8px;
  font-weight: 300;
}

.Gemma {

  text-align: center;
  margin-top: auto;
  margin-bottom: 70px;

}

.Rocio {

  text-align: center;
  margin-top: auto;
  margin-bottom: 70px;

}
.Yolanda {

  text-align: center;
  margin-top: auto;
  

}
.footer{
  background: black;
  height: 175px;
  padding: 30px;
  box-sizing: border-box;
}
.logo{
  height: 15px;
}
.agradecimientos {
  color: #F2F2F2;
  font-size: 14px;
  padding-bottom: 10px;
}
.registro {
  color: #F2F2F2;
  font-size: 12px;
  padding-top: 70px;
}
.centrado{
  text-align:center;
}
